{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color:rgb(48, 44, 44)
}

.menu ul li{
    margin-left: 20px;
    text-decoration: none;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Monserrat',sans-serif;
    font-size: 1.3rem;
}
.menu ul li a:hover {
    color: #289097;
}
.header {
    background-image: url("Img/persona-solitaria-caminando-por-un-sendero-con-hermosa-vegetacion.jpg");
    padding: 400px;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font-size: 3rem;
    color:antiquewhite;
    font-family: 'Oswald', sans-serif;
}
.header span {
    display: block;
    font-size: 1.5rem;
    font-family:  'Montserrat', sans-serif;
    margin-bottom: 40px;
    color: antiquewhite;
    font-weight: 200;
}
.header p {
    font-size: 1.5rem;
    color: antiquewhite;
    font-family: 'Oswald', sans-serif;
}
.header-text button {
    background-color: antiquewhite;
    color:black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
